<main>
    <section id="blog-post-section">
        <!-- This div will display user-specific databases and images -->
        <h2 class="m-5">Welcome back: {{user.username}}</h3>
        <div class="container-lg">
            <div class="row">
                {{#each user.posts}}
                <div class="card border shadow w-25">
                    
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</main>
